@@if (!context.centerLogo) {
<ul class="navbar-nav">
  }
@@if (context.centerLogo) {
  <div class="w-100 order-1 order-lg-0 d-lg-flex offcanvas-body">
    <ul class="navbar-nav ms-lg-auto">
      }
      <li class="nav-item"><a class="nav-link" href="#">تواصل معنا</a></li>
      <li class="nav-item"><a class="nav-link" href="#">من نحن</a></li>
        @@if (context.centerLogo) {
      </ul>
      <!-- /.navbar-nav -->
  </div>
  <div class="w-100 order-3 order-lg-2 d-lg-flex offcanvas-body">
    <ul class="navbar-nav me-lg-auto">
      }
      <li class="nav-item"><a class="nav-link" href="#">المنتجات</a></li>
      <li class="nav-item"><a class="nav-link" href="#">الرئيسية</a></li>
      @@if (context.centerLogo) {
    </ul>
    <!-- /.navbar-nav -->
  </div>
}
@@if (!context.centerLogo) {
</ul>
<!-- /.navbar-nav -->
}